/* -----------------------------------------------------------------------------
2. Paragraph
----------------------------------------------------------------------------- */

.document p {
    margin: var(--document_item_margin) 0;
    padding: 0;
}
.document p:first-child {
    margin-top: 0;
}
.document p:last-child {
    margin-bottom: 0;
}

.document hr {
    display: block;
    width: 100%;
    height: 0;
    margin: var(--document_block_margin) 0;
    padding: 0;
    border: none;
    border-top: solid 1px var(--document_color_text);
}

.document .tc {
    text-align: center;
}
.document .tl {
    text-align: left;
}
.document .tr {
    text-align: right;
}
.document .nw {
    white-space: nowrap;
}
